* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #021027;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
}

.background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;

  mask-image: radial-gradient(
    white 0%,
    white 30%,
    transparent 80%,
    transparent
  );
}

.message {
  position: fixed;
  right: 20px;
  bottom: 10px;
  color: white;
  font-family: "Josefin Slab", serif;
  line-height: 27px;
  font-size: 18px;
  text-align: right;
  pointer-events: none;
}

/* Header */
.large-header {
  position: fixed;
  width: 100%;
  background: #021027;
  overflow: auto;
  background-size: cover;
  background-position: center center;
  z-index: 0;
}

#demo-canvas{
    position: relative;
    z-index: 0;
}